@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  img {
    @apply inline-block;
  }
}


.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}


.custom-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 10px;
  margin-left: -50px;

}

.custom-dot {
  width: 20px;
  height: 5px;
  background-color: #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0 25px;
}

.slick-active .custom-dot {
  background-color: blue;
  width: 30px;
  margin: 0 20px;
  transform: scale(1.5);
}
